
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-535016978427937807.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-535016978427937807.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-535016978427937807.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-535016978427937807.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-535016978427937807.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-535016978427937807.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-535016978427937807.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-535016978427937807.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-535016978427937807.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-535016978427937807.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-535016978427937807.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-535016978427937807.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-535016978427937807.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-535016978427937807.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-535016978427937807.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-535016978427937807.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-535016978427937807.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-535016978427937807.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-535016978427937807.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-535016978427937807.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-535016978427937807.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-535016978427937807.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-535016978427937807.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-535016978427937807.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-535016978427937807.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-535016978427937807.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-535016978427937807.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-535016978427937807.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-535016978427937807.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-535016978427937807.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-535016978427937807.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-535016978427937807.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-535016978427937807.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-535016978427937807.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-535016978427937807.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-535016978427937807.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-535016978427937807.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-535016978427937807.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-535016978427937807.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-535016978427937807.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-535016978427937807.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-535016978427937807.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-535016978427937807.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-535016978427937807.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-535016978427937807.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-535016978427937807.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-535016978427937807.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-535016978427937807.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-535016978427937807.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-535016978427937807.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-535016978427937807.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-535016978427937807 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-535016978427937807 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-535016978427937807 .gp-relative{position:relative}.gps-535016978427937807 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-535016978427937807 .gp-mb-0{margin-bottom:0}.gps-535016978427937807 .gp-flex{display:flex}.gps-535016978427937807 .gp-grid{display:grid}.gps-535016978427937807 .\!gp-hidden{display:none!important}.gps-535016978427937807 .gp-hidden{display:none}.gps-535016978427937807 .gp-max-w-full{max-width:100%}.gps-535016978427937807 .gp-cursor-pointer{cursor:pointer}.gps-535016978427937807 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-535016978427937807 .gp-flex-col{flex-direction:column}.gps-535016978427937807 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535016978427937807 .gp-duration-200{transition-duration:.2s}.gps-535016978427937807 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-535016978427937807 .tablet\:\!gp-hidden{display:none!important}.gps-535016978427937807 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-535016978427937807 .mobile\:\!gp-hidden{display:none!important}.gps-535016978427937807 .mobile\:gp-hidden{display:none}}.gps-535016978427937807 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gWu_yoBK49"}' data-id="gWu_yoBK49" id="gWu_yoBK49" data-same-height-subgrid-container class="gWu_yoBK49 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_COLLECTION;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gWzTg62gwz gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gakAAqaMOn"}' data-id="gakAAqaMOn" id="gakAAqaMOn" data-same-height-subgrid-container class="gakAAqaMOn gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_COLLECTION;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:var(--g-s-2xl);--pb:0px;--pr:var(--g-s-2xl);--pl-mobile:var(--g-s-l);--pr-mobile:16px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:980px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gLVZe5hVH9 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghLz5uRD3w"
        class="ghLz5uRD3w zurich-title"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_COLLECTION;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757343060901"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--size:26px;--size-tablet:46px;--size-mobile:30px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghLz5uRD3w_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gThs4rXW_A"
        class="gThs4rXW_A"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_COLLECTION;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757343060902"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggThs4rXW_A_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_COLLECTION;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gLAgcCpdlv gp-cursor-pointer gp-custom-code">
      <div>
    <div id="viewCollection"></div>
    </div>
    </div>
  
      <style id="custom-css-gLAgcCpdlv">
        #main a:not(.button), footer a:not(.button){
    color:white !important;
    text-decoration: none !important;
    font-weight: bold !important;
}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-535016978427937807 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/nest-wild/apps/gempages-cro/app/shopify/edit?pageType=GP_COLLECTION&editorId=532115404789646229&sectionId=535016978427937807)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gghLz5uRD3w_text","label":"gghLz5uRD3w_text","default":"The Grove Collective &amp; Ole Miss Collection"},{"type":"html","id":"ggThs4rXW_A_text","label":"ggThs4rXW_A_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(36,36,36);font-size:16px;\">As a Mississippi based company, with Ole Miss alums in our ranks, we couldn't be more excited about this partnership with Ole Miss and The Grove Collective. This exclusive collection was built to provide premium sleep systems to our fellow Rebels for a fraction of the cost for like products. From the latest cooling innovations to the absolute best comfort and support technologies and all backed by our hassle-free 10-year warranty and 99-night comfort trial - these beds are ready to help you rest well so you can play wild!</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  